@charset "UTF-8";

.wrap{
    border:1px solid #225588;
    border-top: 5px solid #225588;
}

.login{
    margin-top: 150px;
    margin-left: 300px;
    margin-bottom: 50px;
}

.login ul{
    padding-top: 30px;
}

#pass_form{
    margin-left: 2px;
}

#pass{
    margin-left: 3px;
}

#pass_re{
    margin-left: 255px;
}


.button{
    margin-left: 400px;
    margin-bottom: 100px;
    color: #FFF;
}
/*ボタンの装飾*/
input[type="submit"]{
    background: #CCCCCC;
    border-bottom: solid 2px #555555;
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}

.login_css:hover{
    opacity: 0.8;
}

.login_css:active{
    border-bottom: solid 2px #fd9535;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}



.passchange_css:hover{
    opacity: 0.8;
}

.passchange_css:active{
    border-bottom: solid 2px #fd9535;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

