@charset "UTF-8";

.wrap{
    border:1px solid #225588;
    border-top: 5px solid #225588;
}

.login{
    margin-top: 150px;
    margin-left: 300px;
    margin-bottom: 50px;
}

#pass_form{
    margin-left: 2px;
}

.change_link{
    margin-left: 340px;
}

.pass_re{
    margin-right:500px;
    margin-left: 500px;
    padding-right: 500px;
}

.button{
    margin-left: 400px;
    margin-bottom: 100px;
}
