@charset "UTF-8";

html{
    font-family: sans-serif;
}

html * {
    box-sizing: border-box;
}

.head{
    display: flex;
}

.logname{
    margin-top: 40px;
    margin-left: 0px;
    margin-right: 0px;
    list-style: none;
}

#logout a:link {
    color: #0000ee;
    text-decoration: none;
}

#logout a:visited { 
    color: #551b8c;
    text-decoration: none;
}

#logout a:hover {
    color: #0000ee;
    text-decoration:underline;
}

#logout a:active {
    color: #fe0000;
    text-decoration:underline;
}

.title{
    font-size: 2em;/* フォントサイズ */
    font-weight: bold;/* フォント太さ */
    padding-top: .5em;
    padding-right: 550px;
    padding-bottom: .5em;
    padding-left: .5em;
    margin-bottom: 2em;
    margin-left: 10px;
    margin-right: 0px;
    background-color: #ebf4f6;/* 背景色 */
    border-left: 5px solid #318496;/* 左の線 */
    border-bottom: 2px solid #cccccc;/* 下の線 */
    color: #333333;/* フォント色 */
  
}

.title a:link {
    color: #333333;
    text-decoration: none;
}

.title a:visited { 
    color: #333333;
    text-decoration: none;
}

.title a:hover {
    color: #333333;
    text-decoration: none;
}

.title a:active {
    color: #333333;
    text-decoration: none;
}

body{
    margin: 0 0 0 0;
    background-color: #EEFFFF;
}

main {
    padding: 10px;
    border:1px solid #225588;
}

.wrapper{
    margin: 0 auto 0 auto;
    max-width: 960px;
}

#output{
    font-size: 20px;
    color: firebrick;
}

.tabwrap{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.tabwrap:after {
    content: '';
    width: 100%;
    height: 3px;
    background: DeepSkyBlue;
    display: block;
    order: -1;
}

.tablabel {
    color: white;
    background-color: lightgray;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    white-space: nowrap;
    text-align: center;
    padding: 10px .5em;
    order: -1;
    position: relative;
    z-index: 1;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    flex: 1;
 }

 .tablabel:not(:last-of-type) {
    margin-right: 5px;
  }

 .tabbody {
     width: 100%;
     height: 0;
     overflow: hidden;
     opacity: o;
 }

 .tabswitch:checked+.tablabel{
     background-color: 	#75A9FF;
 }

 .tabswitch:checked+.tablabel+.tabbody{
    height: auto;
    overflow: auto;
    padding: 15px;
    opacity: 1;
    transition: .5s opacity;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
 }

 .tabswitch{
     display: none;
 }

 .cap{
     caption-side: top;
 }

.download{
color:#fff;
text-align:center;
padding:5px;
margin-top:15px;
margin-bottom: 20px;
background-color:#126df4;
border-radius: 50px;
box-shadow:0px 2px 2px #999;
}  





.lec_name{
    padding-left: 50px;
    font-size: 20px;
    color: #333333;
}
