#uploadWindow{
    background-color: white;
}

#title{
    border-radius: 30%;
    padding-right: 30px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
    background-image: url(images/upload.png);
    background-repeat:  no-repeat; 
    background-position: right;
    
}

#kougi_combobox{
    background-color: white;
    border-radius: 30%;
    padding: 0% 0% 0% 100%;
}


#count_combobox{
    background-color: white;
    border-radius: 30%;
    padding: 0% 0% 0% 100%;
}

#btn{
    border-radius:30%;
    color:black;
    background-color: white;
    background-image: url(upbtn.png);
    background-repeat:  no-repeat; 
    background-position: right;
}

#btn:hover{
    background-color: aliceblue;
}

QComboBox::drop-down {border: 0px;}

QComboBox::down-arrow {
    image: url(images/arrow.png);
    padding:0% 50% 0% 0%;
    width: 200%;
    height: 200%;
}